/* CSS declarations go here */
body{
	background-color: #252525;
	font-family: 'Lato', sans-serif;
	color: #fff;
	font-weight: 100;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	overflow-y: scroll;
}
#header {
	background-color: #000000;
	width: 100%;
	height: 52px;
	margin: 0px;
	position: absolute;
	top: 0px;
	vertical-align: middle;
}
#title{
	margin-top: 10px;
	vertical-align: middle;

}

#sharebtn {
	text-align: right;
    margin-right: 10px;
	position:relative;
	float: right;
	top: 0px;
	margin-top: 2px;
}

#sharebtn span{
	margin: 3px;
	vertical-align: middle;

}


.title{
	color: #fff;
	text-transform: uppercase;
	font-size: 1.6em;
	margin-top: 15px;
	margin-left: 20px;
	vertical-align: middle;

}

.title strong{
	margin-right: 20px;
}

.subhead{
	color: #fff;
	text-transform: lowercase;
	font-style: italic;
	font-size: .9em;
	margin-top: 15px;
	margin-left: 20px;
	vertical-align: middle;

}


#box{
	margin-left: 20px;
	margin-right: 20px;
}

#container{
	background-color: #000;
	height: 400px;
	width: 800px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 10px;
	margin-top: 80px;

}

#about{
	display: none;
	margin-top: 90px;
	margin-bottom: 5px;		
	height: 400px;
	text-align: center;
}
.aboutdate {		
	color: #fff;
	text-transform: lowercase;
	font-size: .9em;
	text-align: center;
	background-color: #191919;
	padding-top: 15px;
	padding-bottom: 15px;
}
.aboutcontent{
	color: #fff;
	font-size: 2em;
	text-transform: lowercase;
	text-align: center;
	padding: 10px;
}
.aboutcontent img{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 25px;
}
.aboutcredits{
	color: #fff;
	font-size:.5em;
	font-style: italic;
	padding: 10px;
	margin-top: 25px;
}
.aboutcredits a{
	color: #fff;
}
.aboutcredits a:hover{
	color: #BFF839;
}
#today{
	margin-top: 90px;
	margin-bottom: 5px;		
	height: 400px;
	text-align: center;
}

a {
	text-transform: lowercase;
	text-decoration: none;
}

a:visited{
	text-decoration: none;
	color: inherit;
}

.bottombutton{
	background-color: #000;
	display: inline-block;
	text-align: center;
	width: 265px;
	height:30px;
	padding-top: 13px;
	font-size: 0.8em;
}

#trendbtn {
	font-size: 1.4em;
}

input {
	text-align: center;
	padding: 2px;
	font-size: 1em;
}

.jump{
	margin-left: 10px;	
	font-size: 1.4em;

}

.jumptodate {
	background-color: #111;
	color: #bbb;
	font-weight: 100;
	text-transform: lowercase;
	text-decoration: none;
	font-size: 1em;
	text-align: left;
	margin-left: 5px;
	margin-right: 5px;
	border: 0px;
}
.jumptoword {
	background-color: #111;
	color: #bbb;
	font-weight: 100;
	text-transform: lowercase;
	text-decoration: none;
	font-size: 1em;
	text-align: left;
	margin-left: 5px;
	margin-right: 5px;
	border: 0px;
}

#word {
	color: #e68dff;
	text-transform: lowercase;
	font-size: 11em;	
	text-align: center;
	margin: 15px;
}

.date {		
	color: #e68dff;
	text-transform: lowercase;
	font-size: 1.4em;
	text-align: center;
	background-color: #191919;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 65px;
}
.references{
	color: #e68dff;
	font-size: .9em;
	text-transform: lowercase;
	text-align: center;

}

#newdate{
	display: none;
	margin-top: 90px;
	margin-bottom: 5px;		
	height: 400px;
	text-align: center;
}
.newdateword {
	color: #eeff8d;
	text-transform: lowercase;
	font-size: 11em;	
	text-align: center;
	margin: 15px;
}

.newdate {
	color: #eeff8d;
	text-transform: lowercase;
	font-size: 1.4em;
	text-align: center;
	background-color: #191919;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 65px;

}

.newreferences{
	color: #eeff8d;
	font-size: .9em;
	text-transform: lowercase;
	text-align: center;
}


#newword{
	display: none;
	margin-top: 90px;
	margin-bottom: 5px;		
	height: 400px;
	text-align: center;
}
.searchword {
	color: #8cf998;
	text-transform: lowercase;
	font-size: 11em;	
	text-align: center;
	margin: 15px;
}
.highlighted{
	color: #C5FACB;
	text-transform: uppercase;
}
.searchdate {
	color: #8cf998;
	text-transform: lowercase;
	font-size: 1.4em;
	text-align: center;
	background-color: #191919;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 65px;

}

.searchreferences{
	color: #8cf998;
	font-size: .9em;
	text-transform: lowercase;
	text-align: center;
}


#trends{
	display: none;
	margin-top: 90px;
	margin-bottom: 5px;		
	height: 400px;
	text-align: center;
}
#trendword{
	overflow: scroll;
	height: 346px;
	margin-left: 187px;
	margin-top: 3px
}
#wordoftheyear {
	color: #8dc5ff;
	text-transform: lowercase;
	font-size: 5em;
	text-align: left;
	margin: 15px;
	overflow: scroll;
}
.trendfreq {
	color: #8dc5ff;
	text-transform: lowercase;
	font-size: 1.5em;
	text-align: left;
	margin: 15px;
	overflow: scroll;
}
.trendate {
	color: #8dc5ff;
	text-transform: lowercase;
	font-size: 1.4em;
	text-align: center;
	background-color: #191919;
	padding-top: 15px;
	padding-bottom: 15px;
}
/*Graph*/
#holder{
	padding-top: 200px;
}
/*scrollbars*/
::-webkit-scrollbar{
	background-color: #000000;
	margin: 1px;
	width: 6px;
	height: 10px;
	padding-left: 3px;
}         
::-webkit-scrollbar-button{ 
}
::-webkit-scrollbar-track{
	border-radius: 10px;
}
::-webkit-scrollbar-track-piece{
}
::-webkit-scrollbar-thumb{
	background-color: #333333;
	border-radius: 20px;
	margin: 3px;
	height: 10px;
	width: 4px;
	size: 10px; 
}
::-webkit-scrollbar-corner{
	background-color: #000;
}
::-webkit-resizer {

}  
