<head>
  <title>NewsWordy: The Word of the Day</title>
  <link href='http://fonts.googleapis.com/css?family=Lato:100,400,900,100italic' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher: "3590be9f-5c93-479f-9c1b-9e62b6696b67", doNotHash: false, doNotCopy: false, hashAddressBar: true});</script>

</head>

<body>
  		{{> header}}
	<div id="container">
  		{{> about}}
  		{{> today}}
  		{{> newdate}}
  		{{> trends}}
  		{{> newword}}
  		{{> buttons}}
	</div>
	

</body>
<template name="header">
	<div id="header"> 
		<div id="title">
			<a href="#" id="backtotoday" class="title">
				News<strong>Wordy </strong>|
			</a>
			<span class="subhead"> 
				what’s the most used word in the news today?
			</span>	
			<div id="sharebtn">	
				<span class="subhead">
					<a href="#" id="getaboutpage">about</a> &nbsp; &nbsp;| &nbsp;&nbsp;share
				</span>
					<span class='st_twitter'></span>
					<span class='st_facebook'></span>
					<span class='st_googleplus'></span>
			</div>	
		</div>
	</div>
</template>

<template name ="about">
	<div id="about">
		<div id="abouttop" class="aboutdate">
			about the site
		</div>
		<div id="aboutcontent" class="aboutcontent">
			<p>
				we're limiting the news to the one word used most each day,<br />
				taking the content from the homepages of <br /> 
				BBC, New York Times, Al Jazeera, and Reuters,<br />
				the site has been collecting data since october 21, 2013<br /> 
				and saves the data every 12 hours, at 5am and 5pm PST every day.<br />
				<img src="../img/bbc.gif" height="24px"><img src="../img/nyt.gif" height="30px"><img src="../img/aljazeera.gif" height="30px"><img src="../img/reuters.gif" height="30px">
			</p>
			<p class="aboutcredits"> 
				it was conceived and built by <a href="http://www.jakekahana.com" target="_blank">Jake Kahana</a>, <a href="http://onattyso.com/" target="_blank">Natalie Sun</a> and <a href="http://ianserlin.com/" target="_blank">Ian Serlin</a>. <br />
				documentation available at <a href="http://www.github.com/TBDproject" target="_blank">github</a>
			</p>
		</div>
	</div>
</template>


<template name="today">
	<div id="today" class="current-page">
		{{#isolate}}
		<div id="date" class="date">
			today is {{wordofday.date}}
		</div>

		<a href="#" id="word">
			{{wordofday.word}} 
		</a> <br />

		<span class="references">
			{{wordofday.frequency}} mentions today
		</span><br />
		{{/isolate}}
<!-- 		Insert Graph 
	<div id="holder"></div>
-->	
	</div>

</template>


<template name="newdate">
	<div id="newdate">
		<div id="date" class="newdate">
				<a href="#" id="yesterday"> &#8592; &nbsp; &nbsp; &nbsp; </a>
				{{searcheddate.date}} 
				<a href="#" id="tomorrow"> &nbsp; &nbsp; &nbsp; &#8594; </a>
		</div>

		<span class="newdateword">
			{{#if searcheddate}}
				{{searcheddate.word}} 
			{{else}}
				huh?!
			{{/if}}
		</span> <br />

		<span class="newreferences">
			{{#if searcheddate}}
				{{searcheddate.frequency}} references on {{searcheddate.date}}
			{{else}}
				that date didn't make sense to us <br />
				search again 
			{{/if}}
		</span><br />

	</div>
</template>

<template name="newword">
	<div id="newword">
		{{#isolate}}
		<div id="searchword" class="searchdate">
			{{#if searchedword}}
				data collected about <span class="highlighted">{{searchedword.word}}</span> since october 21, 2013
			{{/if}}
		</div>

		<span class="searchword">
			{{#if searchedword}}
				{{searchedword.word}}
			{{else}}
				wtf?!
			{{/if}}
		</span> <br />

		<span class="searchreferences">
			{{#if searchedword}}
				{{searchedword.frequency}} mentions today <br /><br />
				{{searchedword.uses}} mentions since this site was created
			{{else}}
				that word doesn't make sense to us <br />
				search another word
			{{/if}}
		</span><br />
		{{/isolate}}
	</div>
</template>

<template name="trends">
	<div id="trends">
		<div id="trendate" class="trendate">
			word of the year
		</div>

		<div id="trendword">
			<a href="https://www.google.com/#q={{listofwords.word}}" target="_blank" id="wordoftheyear">
				{{listofwords.word}}
				<br />
			</a>
			<span class="trendfreq"> {{listofwords.totalfrequency}} mentions </span>
		</div>
	</div>
</template>


<template name="buttons">
	<div class="bottombutton" id="jumptodate">
		<span class="jump">
			jump to date:
		</span> 
		<input id="dates" type="text" value=" " class="jumptodate">
	</div>
	<div class="bottombutton">
		<span class="jump">
			jump to word:
		</span>
		<input type="text" placeholder="type word here" class="jumptoword" id="somenewword">		
	</div>
	<div class="bottombutton">
		<a href="#" id="trendbtn">word of the year</a>
	</div>
</template>