<head>
  	<title>What's NewsWordy: What's the most used word in the news today?</title>
  	<link href='http://fonts.googleapis.com/css?family=Lato:100,400,900,100italic' rel='stylesheet' type='text/css'>
  	<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  	<script type="text/javascript">stLight.options({publisher: "3590be9f-5c93-479f-9c1b-9e62b6696b67", doNotHash: false, doNotCopy: false, hashAddressBar: true});</script>
	<link rel="icon" href="../img/favicon.ico" type="image/x-icon" /> 
	<meta name="description" content="Searching the top world news sources to find the word of the day.">
	<meta name="keywords" content="news, word, newswordy, newsworthy, journalism, current events, global, world, international, side project, JavaScript, kahana, serlin, natalie sun, jake kahana, jakekahana, ian">
	<meta name="author" content="Jake Kahana, Natalie Sun and Ian Serlin">
</head>

<body>

  		{{> header}}
	<div id="container">
  		{{> about}}
  		{{> today}}
  		{{> newdate}}
  		{{> trends}}
  		{{> newword}}
  		{{> buttons}}
	</div>
	

</body>
<template name="header">
	<div id="header"> 
		<div id="title">
			<a href="#" id="backtotoday" class="title">
				News<strong>Wordy </strong>|
			</a>
			<span class="subhead"> 
				what’s the most used word in the news today?
			</span>	
			<div id="sharebtn">	
				<span class="subhead">
					<a href="#" id="getaboutpage">about</a> &nbsp; &nbsp;| &nbsp;&nbsp;share
				</span>
				<span id="sharebuttons">
					<a href="http://whatsnewswordy.com" title="Check out the word of the day at " class="tweet" target="_blank"><img src="../img/twitter.png"></a>

					<!--       <div class="fb-share-button" data-href="http://www.whatsnewswordy.com" data-type="icon"></div> -->

				    <a href="http://facebook.com/sharer.php?u=http://whatsnewswordy.com" onclick="javascript:window.open(this.href,
				    '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><img src="../img/facebook.png"></a>

			      <a href="https://plus.google.com/share?url=http://whatsnewswordy.com" onclick="javascript:window.open(this.href,
			        '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><img
			        src="../img/gplus.gif" alt="Share on Google+"/></a>
			    </span>    
			</div>	
		</div>
	</div>
</template>

<template name ="about">
	<div id="about">
		<div id="abouttop" class="aboutdate">
			about the site
		</div>
		<div id="aboutcontent" class="aboutcontent">
			<p>
				We're limiting the news to the one word used most each day,<br />
				taking the content from the homepages of <br /> 
				BBC, New York Times, Al Jazeera, and Reuters.<br /><br />
				The site has been collecting data since november 30, 2013<br /> 
				and saves the data every 12 hours, at 5am and 5pm PST every day.<br />
				<img src="../img/bbc.gif" height="24px"><img src="../img/nyt.gif" height="30px"><img src="../img/aljazeera.gif" height="30px"><img src="../img/reuters.gif" height="30px">
			</p>
			<p class="aboutcredits"> 
				it was conceived and built by <a href="http://www.jakekahana.com" target="_blank">Jake Kahana</a>, <a href="http://onattyso.com/" target="_blank">Natalie Sun</a> and <a href="http://ianserlin.com/" target="_blank">Ian Serlin</a>. <br />
				documentation available at <a href="https://github.com/JakeKahana/NewsVisualizer_Meteor" target="_blank">github</a>
			</p>
		</div>
	</div>
</template>


<template name="today">
	<div id="today" class="current-page">
		{{#isolate}}
			<div id="date" class="date">
				today is {{todaysdate}}
			</div>

			{{#if wordofday}}
				<a href="https://www.google.com/#q={{wordofday.word}}" target="_blank" id="word">
					{{wordofday.word}} 
				</a> <br />

				<span class="references">
					{{wordofday.frequency}} mentions today
				</span><br />
			{{else}}
				<span id="word">
					^_^
				</span><br/>
				<span class="references">
					Today's word has not been captured yet.<br/>Choose another date or check back after 6am Pacific Time.
				</span><br />
			{{/if}}
		{{/isolate}}
<!-- 		Insert Graph 
	<div id="holder"></div>
-->	
	</div>

</template>


<template name="newdate">
	<div id="newdate">
		<div id="date" class="newdate">
			{{#if searcheddate.date}}	
				<a href="#" id="yesterday"> &#8592; &nbsp; &nbsp; &nbsp; </a>
				{{searcheddate.date}} 
				<a href="#" id="tomorrow"> &nbsp; &nbsp; &nbsp; &#8594; </a>
			{{else}}
			{{/if}}	
		</div>

		<span class="newdateword">
			{{#if searcheddate}}
				{{searcheddate.word}} 
			{{else}}
				sorry
			{{/if}}
		</span> <br />

		<span class="newreferences">
			{{#if searcheddate}}
				{{searcheddate.frequency}} references on {{searcheddate.date}}
			{{else}}
				we couldn't find a word for the date you selected <br />
				please pick a different date 
			{{/if}}
		</span><br />

	</div>
</template>

<template name="newword">
	<div id="newword">
		{{#isolate}}
		<div id="searchword" class="searchdate">
			{{#if searchedword}}
				data collected about <span class="highlighted">{{searchedword.word}}</span> since november 29, 2013
			{{/if}}
		</div>

		<span class="searchword">
			{{#if searchedword}}
				{{searchedword.word}}
			{{else}}
				sorry
			{{/if}}
		</span> <br />

		<span class="searchreferences">
			{{#if searchedword}}
				{{searchedword.frequency}} mentions today <br /><br />
				{{searchedword.uses}} mentions since this site was created
			{{else}}
				we couldn't find the word you searched  <br />
				please search for a new word
			{{/if}}
		</span><br />
		{{/isolate}}
	</div>
</template>

<template name="trends">
	<div id="trends">
		<div id="trendate" class="trendate">
			the most used word of {{yr}} (so far)
		</div>

		<div id="trendword">
			<a href="https://www.google.com/#q={{listofwords.word}}" target="_blank" id="wordoftheyear">
				{{listofwords.word}}
				<br />
			</a>
			<span class="trendfreq"> {{listofwords.totalfrequency}} mentions </span>
		</div>
	</div>
</template>


<template name="buttons">
	<div class="bottombutton">
		<span class="jump">
			jump to date:
		</span> 
		<input id="dates" type="text" value=" ">
	</div>
	<div class="bottombutton">
		<span class="jump">
			jump to word:
		</span>
		<input type="text" id="somenewword">		
	</div>
	<div class="bottombutton">
		<span class="jump">
			<a href="#">
				word of the year
			</a>
		</span>
	</div>
</template>


